<div>
  <label>First Name</label>
  {{input value=model.firstName}}
</div>
<div>
  <strong>Username: </strong><span>{{model.username}}</span>
</div>
<div>
  <strong>First Name: </strong><span>{{model.firstName}}</span>
</div>